html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    height: 100vh;
    font-family: Lato, sans-serif;
}

.wrapper {
    display: grid;
    grid-template: 1fr 6fr / 1fr minmax(200px, 5fr);
    height: 100%;
}

header {

}

.nav_header {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 0.1rem
}

.nav_header svg {
    width: 48px;
    fill :#f8fafc;
}

nav {
    color: #f8fafc;
    background-color: #0ea5e9;
    grid-row: 1 / -1;
    padding: 0.4rem 1rem;
}



nav ul {
    display: grid;
    grid-template-columns: auto 1fr;
    list-style-type: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    gap: 10px 10px;
    margin: 2rem 0.8rem 4rem 0;
}

ul svg {
    width: 18px;
    fill :#f8fafc;
}

main {
    background-color: #e5e7eb;
}