html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    height: 100vh;
    font-family: Lato, sans-serif;
}

.wrapper {
    display: grid;
    grid-template: 1fr 6fr / minmax(200px, 1fr) 5fr;
    height: 100%;
}

/* HEADER STYLING */

header {
    padding: 12px 24px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
}

.header_top {
    display: flex;
    margin-bottom: 20px;
}

.header_top img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header_top input {
    background-color: #e4e4e7;
    border: none;
    border-radius: 20px;
    width: 60%;
    padding: 4px;
}

.header_top svg {
    width: 24px;
}

.header_top p {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 15px;
}

.search_group, .icon_group {
    display: flex;
    align-items: center;
}

.icon_group {
    margin-left: auto;
    margin-right: 1rem;
    gap: 15px;
}

.search_group {
    margin-left: 10px;
    flex-grow: 3;
    gap: 15px;
}

.header_bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 0;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting p {
    margin: 0;
    font-weight: bold;
}

#greeting_span {
    font-size: 0.8rem;
}

#username {
    font-size: 1.4rem;
}

.header_bottom img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    grid-row: span 2;
}

.button_group {
    margin-left: auto;
    display: flex;
    gap: 20px;
}
.button_group button {
    color: white;
    background-color: #0ea5e9;
    border: none;
    padding: 8px 24px;
    border-radius: 50px;
}

/* NAV STYLING */

.nav_header {
    display: flex;
    font-weight: bold;
    gap: 0.1rem
}

.nav_header p {
    font-size: 1.6rem;
}

.nav_header svg {
    /* TODO hacky fix to icon shrinking, not sure why?? */
    min-width: 48px;
    max-width: 48px;
    fill :#f8fafc;
}

nav {
    color: #f8fafc;
    background-color: #0ea5e9;
    grid-row: 1 / -1;
    padding: 0.4rem 4rem 0 1rem;
}



nav ul {
    display: grid;
    grid-template-columns: auto 1fr;
    list-style-type: none;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    gap: 10px 20px;
    margin: 1rem 0 4rem 0.7rem;
    align-items: center;
}

ul svg {
    width: 24px;
    fill :#f8fafc;
}

main {
    background-color: #e5e7eb;
}